# IDE
.idea
.vscode

# byte compiled / optimized
*.pyc
__pychache__

# Robot outputs
log.html
output.xml
report.html
tests/log.html
tests/output.xml
tests/report.html
tests/screenshot/
tests/logs/
tests/screenshots/

# Python virtual environment
.venv
.env
venv
env
