# IDE
.idea
.vscode

# byte compiled / optimized
*.pyc
__pychache__

# Robot outputs
log.html
output.xml
report.html
atest/log.html
atest/output.xml
atest/report.html
atest/screenshot/
atest/logs/
atest/screenshots/
*-x3270-trace.txt

# Python virtual environment
.venv
.env
venv
env

# Caches
.mypy_cache
.pytest_cache

# Coverage reports
.coverage
htmlcov
