name: Changelog CI

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  changelog:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
          
      - name: Run Changelog CI
        uses: saadmk11/changelog-ci@v3.0.1
        with:
          config_file: changelog-ci-config.yaml
          skip_standard_github_environment: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
